.separator{
    background-image: radial-gradient(circle, #7978db, #8cc2ff, #05043f, #7978db, #8cc2ff, #05043f, #7978db, #8cc2ff, #05043f, #7978db, #8cc2ff, #05043f);
    width: 40%;
    height: 6px;
    border-radius: 4px;
}